.qualification_container {
    max-width: 768px;
}

.qualification_tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}

.qualification_button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}

.qualification_button:hover {
    color: var(--title-color-dark);
}

.qualification_icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification_active {
    color: var(--title-color-dark)
}

.qualification_sections {
    display: grid;
    grid-template-columns: 0.7fr;
    justify-content: center;
}

.qualification_content {
    display: none;
}

.qualification_content-active {
    display: block;
}

.qualification_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification_card {
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--container-color);
}

.qualification_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification_subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification_calendar {
    font-size: var(--small-font-size);
}

.qualification_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.qualification_line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}

.img_container {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
}

.img_container.active {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: var(--z-fixed);
    cursor: default;
}

.achievement_img:hover {
    animation: hover-in 250ms forwards;
}

.achievement_img.active {
    position: fixed !important;
    height: 70vh !important;
    width: auto !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) rotate(0deg) !important;
    z-index: var(--z-modal) !important;
    cursor: pointer;
}

@keyframes hover-in {
    from {
        transform: scale(1) rotate(45deg);
    }
    to {
        transform: scale(1.5) rotate(0deg);
    }
}

.qualification_description_wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-fixed);
    background-color: rgba(0,0,0,0.2);
}

.qualification_description {
    position: fixed;
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--container-color);
    box-shadow: 0 0px 100px 100px rgba(0,0,0,0.1);
    height: 70%;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    scrollbar-width: thin;
    z-index: var(--z-modal);
    animation: slide-in 250ms linear forwards;
}
.qualification_description::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0.2);
}

.qualification_description::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.8);
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes slide-in {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -25%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
}

.scrollbar {
    position: absolute;
    right:0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: black;
}

.qualification_description h2,
.qualification_description h3 {
    text-align: center;
}

.qualification_description h3 {
    margin-bottom: var(--mb-0-5);
}

.qualification_description h4 {
    margin-bottom: var(--mb-0-5);
}

.qualification_description ul {
    margin-bottom: var(--mb-1);
    list-style: disc;
}

.qualification_description ul li{
    margin-bottom: var(--mb-0-5);
}
    /* =============== BREAKPOINTS =============== */
/* For Large Devices */
@media screen and (max-width: 992px) {
    .qualification_container {
        margin-left: auto;
        margin-right: auto;
    }
    .qualification_description_wrapper {
        /* position: fixed; */
        width: 100%;
        height: 100%;
        /* left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: var(--z-fixed); */
        background-color: rgba(0,0,0,0.2);
    }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {
    .qualification_container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
}

@media screen and (max-width: 576px) {
    .qualification_sections {
        grid-template-columns: initial;
    }

    .qualification_button {
        margin: 0 var(--mb-0-75);
    }
    
    .qualification_description {
        font-size: var(--smaller-font-size);
        /* text-align: justify; */
    }
}

/* For Small Devices */
@media screen and (max-width: 350px) {
    .qualification_data {
        gap: 0.5rem;
    }
}